<templates>
    <!-- https://github.com/odoo/owl/blob/master/doc/reference/templates.md -->
    <div t-name="Person">
        <div><span class="person"><t t-esc="person.name"/></span></div>
    </div>

    <div t-name="Hello">
        <h1>Hello Owl</h1>
        <div class="people-list">
            <t t-foreach="people" t-as="person" t-key="person.id">
                <t t-call="Person" />
            </t>
        </div>
        <div class="cities-list">
            <ol>
                <t t-set="number" t-value="1001"/>
                <t t-foreach="cities" t-as="city" t-key="city">
                    <li>(<t t-esc="number"/><t t-set="number" t-value="number +1"/>) <span class="city"><t t-esc="city"/></span></li>
                </t>
            </ol>
        </div>
    </div>
</templates>
