body {
  background-color: #90EE90;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

div.bottomline {
  font-size: 0.6em;
}

#container {
}

#map {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  height: 400px; 
  position: relative;
}

.room {
  position: absolute;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}
